.history {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 60vh;
  width: 50%;
  position: relative;
}

.history .title {
  font-size: 2.2rem;
  color: #fff;
  position: relative;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  margin: 2rem;
  gap: 1rem;
  color: #fff;
  position: relative;
}
