.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 1rem;
  background-color: #1e1e1e;
  margin-top: 3vw;
  height: 8vw;
  width: 93.75vw;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
}

.nav .logo {
  height: 6vw;
}

.nav .btnNav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.5vw;
  width: 12vw;

  appearance: none;
  background: none;
  cursor: pointer;

  color: #fff;
  font-size: 2vw;
  font-weight: 500;
  border-radius: 20px;
  box-shadow: 1px 2px 4px #0e0e0e;
}

.nav .btnNav:hover {
  border: 2px solid #ec3654;
}
